/* Uniquement les pages qui ne contiennent pas beaucoup d'informations. */

body{
	padding-bottom: 60px;  /* pour le footer */
}

footer{
    bottom: 0;
	height: 60px;
	position: absolute;
    width: 99%;
}
